<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9yTDdz8roSvFreJhgLj63hFKEk-ZsW7U</string>
	<key>GCM_SENDER_ID</key>
	<string>191208546245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.PaddleScore</string>
	<key>PROJECT_ID</key>
	<string>paddlescore-c76ea</string>
	<key>STORAGE_BUCKET</key>
	<string>paddlescore-c76ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191208546245:ios:36996558fc084e52ae75ac</string>
</dict>
</plist>